<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>954944717352-padsnv3rise2tbss9u5ggl1p9ugfeoid.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.954944717352-padsnv3rise2tbss9u5ggl1p9ugfeoid</string>
	<key>API_KEY</key>
	<string>AIzaSyBysOAoym-UZgQWj8rPr1xI8t2kr2QpEZQ</string>
	<key>GCM_SENDER_ID</key>
	<string>954944717352</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cemsafa.Cravings</string>
	<key>PROJECT_ID</key>
	<string>cravings-e364c</string>
	<key>STORAGE_BUCKET</key>
	<string>cravings-e364c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:954944717352:ios:8c4faab39e53344837ab1d</string>
</dict>
</plist>